{% extends 'base.html.twig' %}

{% block title %}Facturation index{% endblock %}

{% block body %}
    <h1>Facturation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datefacturation</th>
                <th>Datelimpaiement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facturation in facturations %}
            <tr>
                <td>{{ facturation.id }}</td>
                <td>{{ facturation.datefacturation ? facturation.datefacturation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ facturation.datelimpaiement ? facturation.datelimpaiement|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('facturation_show', {'id': facturation.id}) }}">show</a>
                    <a href="{{ path('facturation_edit', {'id': facturation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('facturation_new') }}">Create new</a>
{% endblock %}
