{% extends 'base.html.twig' %}

{% block title %}Chefvillage index{% endblock %}

{% block body %}
    <h1>Chefvillage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chefvillage in chefvillages %}
            <tr>
                <td>{{ chefvillage.id }}</td>
                <td>{{ chefvillage.prenom }}</td>
                <td>{{ chefvillage.nom }}</td>
                <td>{{ chefvillage.adresse }}</td>
                <td>{{ chefvillage.telephone }}</td>
                <td>
                    <a href="{{ path('chefvillage_show', {'id': chefvillage.id}) }}">show</a>
                    <a href="{{ path('chefvillage_edit', {'id': chefvillage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('chefvillage_new') }}">Create new</a>
{% endblock %}
